@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

@layer components {
  .center-children {
    @apply flex justify-center items-center;
  }

  .user-form {
    @apply w-96 p-4 shadow-lg capitalize text-center;
  }
  .user-form h1 {
    @apply text-center font-medium text-2xl mb-5;
  }
  .user-form div {
    @apply mb-3 text-start;
  }
  .user-form div label {
    @apply block mb-1 text-sm;
  }
  .user-form div input {
    @apply w-full h-9 pl-2 outline-none border border-black/40 focus:border-first-main transition;
  }
  .user-form > input[type=submit] {
    @apply text-white text-sm font-medium capitalize cursor-pointer bg-first-main py-2 px-8 mt-2;
  }

  .navbar {
    @apply bg-navbar text-white capitalize py-3 shadow-md fixed top-0 left-0 w-full min-h-[64px] flex items-center z-50;
  }
  .navbar > div {
    @apply container flex justify-between items-center;
  }
  .navbar > div > ul {
    @apply flex first:flex-col first:md:flex-row gap-8 first:gap-0 first:md:gap-10 transition-all uppercase text-center first:w-full first:md:w-auto first:bg-gradient-to-l first:from-first-main first:to-second-main first:md:from-transparent first:md:to-transparent first:divide-y first:md:divide-y-0 first:divide-stone-300 first:absolute first:top-full first:left-0 first:md:relative first:md:flex first:opacity-0 first:md:opacity-100 first:pointer-events-none first:md:pointer-events-auto;
  }
  .show-barlist {
    @apply !opacity-100 !pointer-events-auto;
  }
  .navbar > div > ul > li {
    @apply relative cursor-pointer transition hover:text-first-main;
  }
  .navbar > div > ul > li ul {
    @apply invisible opacity-0 text-white divide-y absolute top-[55px] -right-[45px] after:content-[''] after:w-0 after:h-0 after:border-8 after:border-b-navbar after:border-t-transparent after:border-r-transparent after:border-l-transparent after:absolute after:-top-4 after:right-1/2 after:translate-x-1/2 w-28 bg-navbar transition-all duration-500;
  }
  .navbar > div > ul > li:hover ul {
    @apply visible opacity-100;
  }
  .navbar > div > ul > li ul li a {
    @apply py-2 block w-full text-sm capitalize hover:text-first-main;
  }
  .navbar > div > ul:first-child > li {
    @apply py-4 md:py-0 hover:text-black md:hover:text-first-main;
  }
  .navbar > div > ul > li > a span:first-child {
    @apply absolute -top-[5px] -right-[9px] text-[11px] bg-first-main text-white rounded-full w-3.5 h-3.5 text-center font-semibold;
  }
  .navbar > div > ul:first-of-type li {
    @apply text-[11px] font-medium translate-y-[1px];
  }
  .navbar ~ ul {
    @apply uppercase text-xs font-semibold absolute -top-full left-0 z-10 text-white w-full transition-all;
  }
  .navbar ~ ul li {
    @apply container;
  }

  .banner-btn {
    @apply cursor-pointer w-[105px] py-2.5 border-2 border-white text-[13px] font-semibold uppercase text-center last-of-type:bg-white text-white last-of-type:text-[#662c98];
  }

  .categories {
    @apply container grid grid-cols-2 lg:grid-cols-4 gap-2.5 pt-8 pb-12;
  }
  .categories > div {
    @apply overflow-hidden;
  }
  .categories > div img {
    @apply rounded-sm cursor-pointer hover:scale-[1.2] transition duration-300;
  }

  .products {
    @apply py-8 grid grid-cols-[repeat(auto-fill,minmax(170px,1fr))] md:grid-cols-[repeat(auto-fill,minmax(220px,1fr))] gap-4 md:gap-5;
  }
  .products > a {
    @apply cursor-pointer mb-4;
  }
  .products > a > div:first-of-type {
    @apply bg-[rgba(0,0,0,0.05)] px-6 py-8 center-children;
  }
  .products > a > div:first-of-type img {
    @apply w-4/5 transition duration-300;
  }
  .products > a > div:first-of-type:hover img {
    @apply scale-[1.15];
  }
  .products > a > div:nth-of-type(2) h3 {
    @apply prod-name font-medium text-[15px] capitalize mt-3;
  }
  .products > a > div:nth-of-type(2) p {
    @apply font-bold text-2xl mt-2.5;
  }

  ul.new-letter-social {
    @apply flex gap-4 justify-center;
  }

  ul.new-letter-social li {
    @apply bg-black text-white rounded-full p-1.5 text-[18px];
  }

  .products-table {
    @apply table-fixed w-full mt-4 text-left font-medium border-x border-black/20;
  }

  .products-table tr td,
  .products-table tr th {
    @apply px-3.5 py-2.5 capitalize first:w-[85px] text-center;
  }

  .products-table tr td {
    @apply text-15px border-l border-b border-black/20;
  }

  .products-table tr td button {
    @apply bg-first-main hover:bg-purple-800 text-white py-2 rounded-md mr-2 last:mr-0 w-[90px] text-center capitalize text-sm transition;
  }

  .product-form {
    @apply flex flex-col items-center gap-4 mx-auto w-4/6 my-8;
  }

  .product-form img {
    @apply mb-4 cursor-pointer;
  }

  .product-form input {
    @apply border-black/20 border rounded-md w-full h-12 px-3 outline-none focus:border-first-main placeholder:capitalize transition;
  }

  .product-form > div {
    @apply grid grid-cols-[70%_28%] gap-[2%] w-full;
  }

  .product-form button {
    @apply uppercase rounded-md flex gap-2 bg-first-main hover:bg-purple-800 text-white text-sm h-11 w-44 center-children transition;
  }

  .footer {
    @apply container md:flex md:gap-8 lg:gap-16 justify-center md:flex-wrap py-8 capitalize;
  }
  .footer > div {
    @apply md:max-w-[25%] mb-8 md:mb-0;
  }
  .footer > div h3 {
    @apply font-bold text-xl mb-3 md:mb-4;
  }
  .footer > div ul li,
  .footer > div > p {
    @apply text-text text-sm font-medium leading-6 mb-3;
  }
  .footer > div:nth-child(2) ul li {
    @apply grid grid-cols-[40px_auto];
  }
  .footer > div ul li svg {
    @apply flex text-xl;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #8e2de2;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(107 33 168);
  }

  .prod-name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap; /* let the text wrap preserving spaces */
  }
}
